/* Base Page Styles */
body {
    background-image: url("../img/back3.png");
    background-color: #8ab3ce;
}

/* Main Nav Styles */
a.navbar-brand.bg-info
{   
    font-family: 'Abril Fatface', cursive;
    color: #fff;
    font-size: 34px;
    padding: 6px;
   
}

nav {
    font-family: 'lato',sans-serif;
    padding-bottom: 0px !important;
}
nav div div {
    padding-bottom: 7px;
}
h1 {
    font-weight: lighter;
    font-family: 'Abril Fatface', cursive;
    font-size: 34px;
}
h1 .text-info{
    font-family: 'Abril Fatface', cursive;
    font-size: 34px;

}
/* Main Footer Styles */
nav.navbar.navbar-light.fixed-bottom{
    width: 100%;
    height: 42px;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-right: 0px;
    background-color: #ffffff; 
}




/* Portfolio Page Styles */

.card-img-top {
    position: relative;
}
.card-title {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: calc(100% - 30px);
}

/* Media Queries */

@media screen and (min-width: 992px) {
    #portfolio,
    #about-me,
    #contact,
    #main-nav {
        
        width: 66.67%;
    }
